.c-cyan {
    color: rgb(58, 150, 221);
}

.c-yellow {
    color: rgb(249, 241, 165);
}

.c-green {
    color: rgb(22, 198, 12);
}

.c-grey {
    color: rgb(204, 204, 204);
}

.c-red {
    color: rgb(231, 72, 86);
}

.c-white {
    color: rgb(255, 255, 255);
}